[rd]
{{ ssh_host_ip }}

[rd:vars]
# SSH
ansible_ssh_user={{ ssh_user | trim }}
ansible_ssh_port={{ ssh_port | trim }}
ansible_ssh_private_key_file=~/.ssh/ssh_key
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

# Deploy
traefik_enabled=yes

# OBADA Node
node_rpc={{ node_rpc | trim }}
node_grpc=node.alpha.obada.io:9090

# OBADA REGISTRY
registry_grpc=registry.beta.obada.io:2018
registry_http=https://registry.beta.obada.io

# Webserver
domain={{ domain | trim }}
acme_email={{ acme_email | trim }}

# MySQL
mysql_password={{ mysql_password | trim }}
expose_mysql=no

# Laravel
app_env={{ app_env | trim }}
app_key={{ app_key | trim }}
aws_access_key={{ aws_access_key | default('') | trim }}
aws_access_secret={{ aws_access_secret | default('') | trim }}
aws_region={{ aws_region | default('') | trim }}
aws_bucket={{ aws_bucket | default('') | trim }}
filesystem_driver={{ filesystem_driver | trim }}

# Sentry configuration
sentry_dsn={{ sentry_dsn }}

# Change it to "no" if you going to deploy from the root user
should_become={{ should_become }}

# Mount source code to compose file
mount_code={{ mount_code }}

ipfs_gateway={{ ipfs_gateway }}
ipfs_api={{ ipfs_api }}
