[rd]
{{ ssh_host_ip }}

[rd:vars]
# SSH
ansible_ssh_user={{ ssh_user }}
ansible_ssh_port={{ ssh_port }}
ansible_ssh_private_key_file=~/.ssh/ssh_key
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

# OBADA Node
node_rpc={{ node_rpc }}

# Webserver
domain={{ domain }}
acme_email={{ acme_email }}

# MySQL
mysql_password={{ mysql_password }}

# Laravel
app_env={{ app_env }}
app_key={{ app_key }}
aws_access_key={{ aws_access_key }}
aws_access_secret={{ aws_access_secret }}
aws_region={{ aws_region }} 
aws_bucket={{ aws_bucket }}

# Change it to "no" if you going to deploy from the root user
should_become={{ should_become }}